<div class="dashboard-container">
    <div class="loading-spinner-container" *ngIf="isLoading">
        <mat-spinner diameter="40" class="loading"></mat-spinner>
    </div>
    <div class="filters-container">
        <div *ngIf="!isLoading">
            <div class="filters">
                <mat-form-field subscriptSizing="dynamic" appearance="fill">
                    <mat-label>Master Nodes</mat-label>
                    <mat-select [(value)]="selectedMasterNode" (selectionChange)="onMasterNodeSelectionChange()">
                        <mat-option *ngFor="let node of masterNodes" [value]="node.metadata.name">{{ node.metadata.name }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" appearance="fill">
                    <mat-label>Worker Nodes</mat-label>
                    <mat-select [(value)]="selectedWorkerNode" (selectionChange)="onWorkerNodeSelectionChange()">
                        <mat-option *ngFor="let node of workerNodes" [value]="node.metadata.name">{{ node.metadata.name }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" appearance="fill">
                    <mat-label>Pods</mat-label>
                    <mat-select [(value)]="selectedPod" (selectionChange)="onPodSelectionChange()">
                        <mat-option *ngFor="let pod of pods" [value]="pod.metadata.name">{{ pod.metadata.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && this.name" class="healthstatus">
        <p>{{ name }}</p>
        <!-- <mat-icon *ngIf="status" class="green-icon">check_circle</mat-icon>     
        <mat-icon *ngIf="!status" class="red-icon">cancel</mat-icon> -->
    </div>
    <app-splitscreen *ngIf="!isLoading" [splitContent]="config"></app-splitscreen>
</div>