<mat-toolbar>
    <a routerLink="/home" class="nav-link" routerLinkActive="active-link"><mat-icon>home</mat-icon>Home</a>
    <a routerLink="/dashboard" class="nav-link" routerLinkActive="active-link"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a routerLink="/playground" class="nav-link" routerLinkActive="active-link"><mat-icon>games</mat-icon>Playground</a>
    <a routerLink="/projects" class="nav-link" routerLinkActive="active-link"><mat-icon>work_outline</mat-icon>Projects</a>
    <a routerLink="/about" class="nav-link" routerLinkActive="active-link"><mat-icon>info</mat-icon>About</a>
</mat-toolbar>