/* For the arrow */
.connector {
    text-align: center;
    font-size: 24px;
    color: #666;
    /* Choose a color that matches your design */
}

.in-progress {
    color: blue;
}

.success {
    color: green;
}

.failed {
    color: red;
}