<div class="home-container">
    <!-- Kubernetes Visualization Section -->
    <section class="kubernetes-visualization">
        <br>
        <h2><img src="/assets/kubernetes.svg" alt="Kubernetes Icon" class="icon">Welcome to My Kubernetes Showcase</h2>
        <p>This website is a dynamic showcase of my Kubernetes and DevOps skills. Here, you'll find an interactive demonstration of a high-availability Kubernetes deployment. It's designed to be understandable even for those not deeply familiar with technical details, illustrating the power and flexibility of Kubernetes in managing and scaling web applications efficiently.</p>
        <br>
        <br>
        <app-horizontalcontainer [items]="myDiagrams"></app-horizontalcontainer>
        <br>
    </section>

    <!-- Project Highlights -->
    <section class="project-highlights">
        <h2>Project Highlights</h2>
        <ul>
            <li><img src="/assets/angular.svg" alt="Deployment Icon" class="icon"> Deployment of a dynamic website on a Kubernetes cluster.</li>
            <li><img src="/assets/docker.svg" alt="Docker Icon" class="icon"> Containerization of the application using Docker for consistent, portable environments.</li>
            <li><img src="/assets/helm.svg" alt="Helm Icon" class="icon"> Use of Helm charts for streamlined, efficient application deployment.</li>
            <li><img src="/assets/amazonec2.svg" alt="Scaling Icon" class="icon"> Implementation of traffic simulation for dynamic horizontal pod auto-scaling.</li>
            <li><img src="/assets/elasticsearch.svg" alt="Monitoring Icon" class="icon"> Real-time monitoring and logging to visualize system performance.</li>
            <li><img src="/assets/github.svg" alt="GitHub Icon" class="icon"> Integration of GitHub for source code management and version control.</li>
            <li><img src="/assets/jenkins.svg" alt="Jenkins Icon" class="icon"> Automated Docker image builds using Jenkins pipeline for continuous integration and delivery.</li>
            <li><img src="/assets/terraform.svg" alt="Terraform Icon" class="icon"> Infrastructure as Code (IaC) using Terraform, with AWS S3 as a remote backend for efficient infrastructure management.</li>
        </ul>
    </section>
    
    <!-- Key Technologies -->
    <section class="technologies">
        <h2>Key Technologies</h2>
        <ul class="tech-list">
            <li><img src="/assets/docker.svg" alt="Docker Logo" class="tech-logo"> Docker for containerization, ensuring application portability and consistency.</li>
            <li><img src="/assets/helm.svg" alt="Helm Logo" class="tech-logo"> Helm charts for manageable, reproducible Kubernetes deployments.</li>
            <li><img src="/assets/elasticsearch.svg" alt="ELK Stack Logo" class="tech-logo"> ELK stack for monitoring and logging, providing valuable data visualizations and system metrics.</li>
            <li><img src="/assets/github.svg" alt="GitHub Logo" class="tech-logo"> GitHub for advanced source code management and collaborative development.</li>
            <li><img src="/assets/jenkins.svg" alt="Jenkins Logo" class="tech-logo"> Jenkins for robust CI/CD pipelines, enhancing automation and deployment efficiency.</li>
            <li><img src="/assets/terraform.svg" alt="Terraform Logo" class="tech-logo"> Terraform with AWS S3 for reliable and scalable cloud infrastructure provisioning.</li>
        </ul>
    </section>

    <!-- About Me -->
    <section class="about-me">
        <h2>About Me</h2>
        <img src="/assets/Рисунок1.png" alt="Avinash Kumar Reddy" class="profile-photo">
        <p>Hello! I'm Avinash Kumar Reddy, an Automation Engineer specializing in multi-cloud infrastructure, CI/CD pipeline development, and Kubernetes cluster management. For more information or to get in touch, <a href="mailto:malla.avinash@gmail.com">email me</a> or visit my <a href="https://linkedin.com/in/yourprofile">LinkedIn profile</a>.</p>
    </section>
</div>
