<mat-card class="about-card">
    <!-- About Me Section -->
    <div class="about-me">
      <mat-card-title>About Me</mat-card-title>
      <mat-card-content>
        <p>
          Hi, I'm Avinash Kumar Reddy, a passionate Automation Engineer specializing in DevOps methodologies. Welcome to my professional portfolio. Feel free to explore my projects and contact me for any collaborations or opportunities.
        </p>
      </mat-card-content>
    </div>
  
    <!-- Bottom Half Container -->
    <div class="bottom-half">
      <!-- Skills Section -->
      <div class="skills">
        <mat-card-title>Skills</mat-card-title>
        <mat-card-content>
          <!-- Skills Content -->
          <ul>
            <li><b>Cloud Computing and Infrastructure:</b> AWS, Azure, GCP</li>
            <li><b>Infrastructure as Code (IaC):</b> Terraform, Ansible</li>
            <li><b>Containerization and Orchestration:</b> Docker, Kubernetes</li>
            <li><b>CI/CD:</b> Jenkins, Git, Azure DevOps</li>
            <li><b>Monitoring and Logging:</b> ELK Stack, Filebeat, Metricbeat</li>
            <li><b>Scripting and Programming Languages:</b> Python, Shell Scripting</li>
            <li><b>Version Control:</b> Git, TFS</li>
            <li><b>Other Technologies:</b> VMware, etcd</li>
          </ul>
        </mat-card-content>
      </div>
  
      <!-- Contact Info Section -->
      <div class="contact-info">
        <mat-card-title>Contact Info</mat-card-title>
        <mat-card-content class="contact-content">
          <!-- Contact Details -->
          <div>
            <a mat-button href="https://linkedin.com/in/avinash-kumar-reddy-2376bb130/" target="_blank">
              <img src="/assets/linkedin.png" alt="LinkedIn Icon" class="icon">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
          </div>
          <div>
            <a mat-button href="mailto:malla.avinash@gmail.com">
              <img src="/assets/gmail.png" alt="Deployment Icon" class="icon">
              <i class="fa fa-envelope"></i> Email
            </a>
          </div>
          <div>
            <a mat-button href="https://github.com/aviblaze" target="_blank">
              <img src="/assets/github.png" alt="Deployment Icon" class="icon">
              <i class="fa fa-github"></i> GitHub
            </a>
          </div>
          <p>
            <img src="/assets/whatsapp.png" alt="whatsappIcon" class="icon">
            <i class="fa fa-phone"></i> +91-9182592998
          </p>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
  